# Ignore everything by default
*

# But include these specific files
!.gitignore
!.github/
!.github/**
!README.md
!LICENSE
!index.html
!logo.jpg

# Include releases folder structure
!releases/
!releases/.gitkeep

