# Ignore everything by default
*

# But include these specific files
!.gitignore
!README.md
!LICENSE
!SETUP_GUIDE.md
!RELEASE_WORKFLOW.md
!create-release.ps1

# Include releases folder structure
!releases/
!releases/.gitkeep

